/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 20, 2022, 4:02:46 PM
    Author     : thanh
*/
.title{
    display: inline-block;
    background-color: rgb(25, 38, 56);
    color: white;
    width: 100%;
    height: 110px;
}
#User{
    float: right;
    padding-left: 30%;
    margin-top: -60px;
    margin-right: 10px
}
.img{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
}
h1{
    text-align: center;
    margin-top: -75px;
    font-size: 40px
}
.row1{
    background-color: #4f9eee;
    color: white;
    padding: 2px 8px;
}
/*.row1{
    background-color: #4f9eee;
    color: white;
    padding: 10px 20px;
}*/
/*.sortable{
    margin-left: 23%;
}*/

.save{
    padding: 4px 8px;
    margin-left: 45%;
    border-radius: 5px;
}
tbody{
    font-size: 20px;
}
