/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 14, 2022, 9:56:18 AM
    Author     : thanh
*/
.logo{
    text-align: center;

}
.img1{
    width: 150px;
    height: 150px;
    text-align: center;
}
.img2{
    background-image: url(../temp/Du-hoc-tai-University-of-Ottawa-Nen-giao-duc-hien-dai-cung-co-so-vat-chat-an-tuong-2-1536x863.jpg);
}