/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 20, 2022, 11:13:37 AM
    Author     : thanh
*/
.title{
    display: inline-block;
    background-color: rgb(25, 38, 56);
    color: white;
    width: 100%;
    height: 110px;
}
#User{
    float: right;
    padding-left: 30%;
    margin-top: -60px;
    margin-right: 10px
}
.img{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
}
h1{
    text-align: center;
    margin-top: -75px;
    font-size: 40px
}
h2{
    margin-top: 50px;
}
#ghichu{
    border: 1px solid black;
    margin-right: 65%;
    margin-left: 10px;
    border-radius: 5px;
}
#note{
    margin-left: 20px;
}
.time_table{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
}